<div ng-controller="resumeController as res">
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<h1>{{res.resume.bio.firstName}} {{res.resume.bio.lastName}}</h1>
					<h2>{{res.resume.bio.location.city}}</h2>
				</div>
			</div>
		</div>
	</header>
	<div id="content">
		<div class="container">
			<section id="about" class="row">
				<aside class="col-sm-3">
					<h3>About</h3>
				</aside>
				<div class="col-sm-9">
					<p>{{res.resume.bio.summary}}</p>
				</div>
			</section>
			<section id="contact" class="row">
				<aside class="col-sm-3">
					<h3>Contact</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
						<ul class="col-sm-6">
							<li>Email</li>
							<li>{{res.resume.bio.email.personal}}</li>
						</ul>
						<ul class="col-sm-6">
							<li>Phone</li>
							<li>{{res.resume.bio.phone.personal}}</li>
						</ul>
						<ul class="col-sm-6">
							<li>GitHub</li>
							<li><a href="http://github.com/{{res.resume.bio.profiles.github}}">{{res.resume.bio.profiles.github}}</a></li>
						</ul>
						<ul class="col-sm-6">
							<li>Twitter</li>
							<li><a href="http://twitter.com/{{res.resume.bio.profiles.twitter}}">@{{res.resume.bio.profiles.twitter}}</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section id="work" class="row">
				<aside class="col-sm-3">
					<h3>Work</h3>
				</aside>
				<div class="col-sm-9">
					<!--Work repeat-->
					<div class="item" ng-repeat="w in res.resume.work">
						<h4 class="strike-through">
							<span>{{w.company}}</span>
							<span class="date">{{w.startDate | date:'MMMM-yyyy'}} — {{w.endDate | date:'MMMM-yyyy'}}</span>
						</h4>
						<a class="link" href="{{website}}">{{w.website}}</a>
						<strong class="position">{{w.position}}</strong>
						<p>{{w.summary}}</p>
						<div class="highlights">
							<h4>Highlights</h4>
							<ul>
								<li class="bullet" ng-repeat="h in w.highlights">{{h}}</li>
							</ul>
						</div>
					</div><!--Work repeat end-->
				</div>
			</section>
			<section id="education" class="row">
				<aside class="col-sm-3">
					<h3>Education</h3>
				</aside>
				<div class="col-sm-9">
					<!--Education repeat-->
					<div class="item" ng-repeat="e in res.resume.education">
						<h4 class="strike-through">
							<span>{{e.institution}}</span>
							<span class="date">{{e.startDate | date:'MMMM-yyyy'}} — {{e.endDate | date:'MMMM-yyyy'}}</span>
						</h4>
						<strong class="area">
							{{e.area}}, {{e.studyType}}
						</strong>
					</div><!--end Education repeat-->
				</div>
			</section>
			<section id="awards" class="row">
				<aside class="col-sm-3">
					<h3>Certifications</h3>
				</aside>
				<div class="col-sm-9">
					<!--Certifications repeat-->
					<div class="item" ng-repeat="c in res.resume.awards">
						<h4 class="strike-through">
							<span>{{c.title}}</span>
						</h4>
						<span class="pull-right">
							<em>Awarded</em> {{c.awardDate | date:'MMMM-yyyy'}}
						</span>
						<strong>
							<em>by</em> {{c.awarder}}
						</strong>
					</div><!--end Certifications repeat-->
				</div>
			</section>
			<section id="skills" class="row">
				<aside class="col-sm-3">
					<h3>Technical Skills</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
						<ul>
							<!--Certifications repeat-->
							<li class="col-xs-6 skill" ng-repeat="s in res.resume.skills">
								<h4>{{s.name}}</h4>
								<ul class="list">
									<li class="bullet" ng-repeat="kw in s.keywords">{{kw}}</li>
								</ul>
							</li><!--end Certifications repeat-->
						</ul>
					</div>
				</div>
			</section>
			<section id="references" class="row">
				<aside class="col-sm-3">
					<h3>References</h3>
				</aside>
				<div class="col-sm-9">
					{{references}}
					<blockquote>
						<p>{{reference}}</p>
						<p><strong>— {{name}}</strong></p>
					</blockquote>
					{{references}}
				</div>
			</section>
		</div>
	</div>
</div>