<div ng-controller="resumeController as res">
	<div id="content">
		<div class="container">
			<section id="about" class="row">
				<aside class="col-sm-3">
						<h3>About this site</h3>
				</aside>
				<div class="col-sm-9">
					<p><em>This site is built using <a href="https://angularjs.org/" target="_blank">AngularJS</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="http://jsonresume.org/" target="_blank">JsonResume Specification</a>.</em></p>
				</div>
			</section>
		</div>
	</div>
</div>