<div ng-controller="resumeController as res">
	<div id="content">
		<div class="container">
			<section id="about" class="row">
				<aside class="col-sm-6">
						<h1>{{res.resume.bio.firstName}} {{res.resume.bio.lastName}}</h1>
						<a href="/#/resume"><h3 style="color:#f1c40f;">{{res.resume.bio.profiles.title}}</h3></a>
						<h4><a href="/#/twitter">@{{res.resume.bio.profiles.twitter}}</a></h4>
				</aside>
				<div class="col-sm-6">
					<a href="/#/instagram"><img ng-src="img/amey.png" class="img-responsive img-rounded" alt="Responsive image" /></a>
				</div>
			</section>
		</div>
	</div>
</div>